.footer-section{
  padding-top: 100px;
  .links{
    .link{
      .p-title{
        font-size: 1.6rem;
      }
      .lists{
        font-size: 1.4rem;
          .list-item{
            &:hover{
              .list-link{
                color: $light-grey;
                text-decoration: none;
                border-bottom: 1px solid $light-grey;
              }
            }
          }
      }
    }
  }
}

