.back-transparent{
  background-color: $transparentColor;
}
.sale-border{
  border: 2px solid $whiteColor;
}
.border-radius{
  border-radius: 3px;
}
.gold-color{
  color: $goldColor;
}
.text-white-color{
  color: $whiteColor !important;
}
.black-color{
  color:$blackColor !important;
}
.top-menu-color {
  color: $topMenuColor !important;
}
.border-style-outline{
  outline-offset: -15px;
}
.outline-style{
  outline:2px solid $whiteColor;
}

.position-shop-link{
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
.back-orange-color{
  background-color: $orangeColor;
}
.padding-15{
  padding: 7px 20px;
}
.gold-background-color{
background-color: $goldColor;
}
.black-background-color{
  background-color: $blackColor;
}
.page-title{
  font-size: 3rem;
  font-weight: bolder;
  &:before{
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 39%;
    //@include calc(width,'100%-50px');
    height: 1px;
    background-color: $goldColor;
  }
  &:after{
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    width: 39%;
    height: 1px;
    background-color: $goldColor;
  }
}
.order-title{
  font-size: 2.6rem;
  font-weight: bolder;
}
.margin-distance{
  margin: 0 15px;
}

.margin-0{
  margin: 0 !important;
}
.padding-left-40{
  padding-left: 40px;
}
.rectangle{
  position: absolute;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
.rectangle-left{
  left: 39%;
  top: 38%;
}
.rectangle-right{
  right: 39%;
  top: 38%;
}
.padding-40{
  padding: 0 40px;
}
.m-bottom{
  margin-bottom: 40px;
}
.pictures-outline-style{
  outline: 1px solid red;
}
.picture-overlay{
  background-color: rgba(0,0,0,.7);
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  //min-height: 300px;
  max-width: 320px;
  overflow: hidden;
  opacity:0;
}
.sale-collection-link{
    font-size: 1.1rem !important;
  &:hover{
    color: $whiteColor;
    text-decoration: none;
    }
}