        <footer>
            <div class="footer-section light-black">
                <div class="container position-relative">
                    <div class="links links-border-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="link">
                                            <p class="p-title text-white-color mb-20">SHOPS</p>
                                            <ul class="lists list-unstyled">
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">New In</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Women</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Men</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Shoes</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Bags & Accessories</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Top Brands</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Sale & Special Offers</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Lookbook</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="link">
                                            <p class="p-title text-white-color mb-20">INFORMATION</p>
                                            <ul class="lists list-unstyled">
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">About us</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Customer Service</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">New Collection</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Best Sellers</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Manufacturers</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Privacy policy</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Terms & condition</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Blog</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="link">
                                            <p class="p-title text-white-color mb-20">CUSTOMER SERVICE</p>
                                            <ul class="lists list-unstyled">
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Search Terms</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Advanced Search</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Orders and Returns</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Contact Us</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">RSS</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Help & FAQs</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Terms & condition</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Consultant</a></li>
                                                <li class="list-item"><a href="#" class="list-link text-light-grey">Store Locations</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="p-title text-white-color text-small mb-20">STAY CONNECTED</p>
                                <div class="social-icons mb-30">
                                    <ul class="list-unstyled">
                                        <li class="list-inline-item border background-white"><a class="black-color" href="#"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li class="list-inline-item border background-white"><a class="black-color" href="#"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li class="list-inline-item border background-white"><a class="black-color" href="#"><i
                                                class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item border background-white"><a class="black-color" href="#"><i
                                                class="fa fa-pinterest"></i></a></li>
                                        <li class="list-inline-item border background-white"><a class="black-color" href="#"><i
                                                class="fa fa-feed"></i></a></li>
                                    </ul>
                                </div>
                                <div class="subscribe border-bottom-gray">
                                    <p class="subscribe-title text-white-color text-small mb-30">SUBSCRIBE   in  OUR  NEWS  LETTER</p>
                                    <form action="#">
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control subscribe-input" placeholder="Enter Your Email Address"
                                                   aria-label="Enter Your Email Address" aria-describedby="button-addon2">
                                            <div class="input-group-append d-flex align-items-center">
                                                <button class="btn" type="button" id="button-addon2">SUBSCRIBE</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-tab position-absolute"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="copyright text-gray position-relative" id="copy-down">
                                <p class="mb-20">
                                    © 2015  Shopia  Fashion Store Shopify.
                                    All Rights Reserved. Ecommerce Software by Shopify.
                                    Designed by  MoccaLabs.com
                                </p>
                                <ul class="cards list-unstyled">
                                    <li class="card-item list-inline-item"><a class="card-link text-white-color" href="#"><i class="fa fa-cc-visa"></i></a></li>
                                    <li class="card-item list-inline-item"><a class="card-link text-white-color" href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                    <li class="card-item list-inline-item"><a class="card-link text-white-color" href="#"><i class="fa fa-cc-amex"></i></a></li>
                                    <li class="card-item list-inline-item"><a class="card-link text-white-color" href="#"><i class="fa fa-cc-discover"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" title="back to top" class="scroll-up black-background-color d-block">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="footer-bottom black-background-color"></div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
        <script src="js/all.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
      </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
