<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>-->
    <link rel="stylesheet" href="css/main/main.min.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<header>
    <div class="header-top-section">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg d-flex justify-content-between">
                    <a class="nav-link top-menu-color" href="#"><i class="fa fa-phone"></i>Call +001 555 801</a>
                    <ul class="navbar-nav">
                        <!--<li class="nav-item list-inline-item active">-->
                            <!--<a class="nav-link top-menu-color" href="#"><i class="fa fa-phone"></i>Call +001 555 801</a>-->
                        <!--</li>-->
                        <li class="nav-item list-inline-item additional-link-hide">
                            <a class="nav-link top-menu-color" href="#">WELCOME MSG!</a>
                        </li>
                        <li class="nav-item list-inline-item additional-link-hide">
                            <a class="nav-link top-menu-color" href="#">MY WISHLIST</a>
                        </li>
                        <li class="nav-item list-inline-item additional-link-hide">
                            <a class="nav-link top-menu-color" href="#">MY ACCOUNT</a>
                        </li>
                        <li class="nav-item list-inline-item">
                            <a class="nav-link top-menu-color" href="#">LOGIN</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-bottom-section">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light navbar-background">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link black-color" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link black-color" href="#">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link black-color" href="#">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link black-color" href="#">Pages</a>
                            </li>
                            <li class="nav-item additional-link-show">
                                <a class="nav-link black-color" href="#">MY WISHLIST</a>
                            </li>
                            <li class="nav-item additional-link-show">
                                <a class="nav-link black-color" href="#">WELCOME MSG!</a>
                            </li>
                            <li class="nav-item additional-link-show">
                                <a class="nav-link black-color" href="#">MY ACCOUNT</a>
                            </li>
                        </ul>
                        <a class="navbar-brand mr-auto d-inline-block" href="#">
                            <img class="img-fluid" src="img/Shophia.png" alt="">
                        </a>
                        <div class="social-icons">
                            <ul class="list-unstyled">
                                <li class="list-inline-item border border-gold-color"><a class="gold-color" href="#"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item border border-gold-color"><a class="gold-color" href="#"><i
                                        class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item border border-gold-color"><a class="gold-color" href="#"><i
                                        class="fa fa-youtube"></i></a></li>
                                <li class="list-inline-item border border-gold-color"><a class="gold-color" href="#"><i
                                        class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="language">
                            <form action="#">
                                <div class="form-row align-items-center">
                                    <div class="col-auto my-1">
                                        <select class="custom-select mr-sm-2">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>