.main-section {
  .slider-section{
    position: relative;
    .slider {
      width: 100%;
      float: left;
      .item {
        position: relative;
        height: 640px !important;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .sale{
          position: absolute;
          padding: 50px 0;
          width: 300px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          .sale-season{
            font-size: 2rem;
            font-weight: bold;
          }
          .sale-title{
            font-size: 5.9rem;
            font-weight: bold;
          }
          .sale-amount{
            position: relative;
            font-size:2rem;
            font-weight: bold;
            &:before{
              content: "";
              background-color: $whiteColor;
              position: absolute;
              width: 3.2rem;
              height: 1px;
              left: 70px;
              top: 50%;
            }
            &:after{
              content: "";
              background-color: $whiteColor;
              position: absolute;
              width: 3.2rem;
              height: 1px;
              right: 70px;
              top: 50%;
            }
          }
          .sale-indicator{
            font-size: 2rem;
          }

        }
        .sale-link{
          font-size: 2.4rem !important;
          &:hover{
            color: $whiteColor;
            text-decoration: none;
          }
        }
      }

      .slick-dots li.slick-active button::before {
        color: #fff;
        opacity: 1;
      }

      .slick-dots li button:before {
        content: '' !important;
        width: 12px;
        height: 12px;
        background-color: #b2b2b2;
        transform: rotate(45deg);
        opacity: 1;
      }
      .slick-dots{
        bottom: 20px;
          li{
            &.slick-active button:before{
                background-color: $blackColor !important;
            }
        }
      }
    }
    .triangle{
      position: absolute;
      width: 0;
      height: 0;
      border-top: 60px solid #fff;
      border-left: 400px solid transparent;
      border-right: 400px solid transparent;
      z-index: 999;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .order-section{
   .orders{
     .travel{
       height: 75px;
       max-width: 320px;
       &:before{
         position: absolute;
         right: -40px;
         content: "";
         width: 0;
         height: 0;
         border-left: 40px solid $goldColor;
         border-top: 37px solid transparent;
         border-bottom: 37px solid transparent;
       }


     }
     .back-money{
       height: 75px;
       max-width: 370px;
       margin: 0 40px;
       &:after{
         position: absolute;
         left: 0;
         content: "";
         width: 0;
         height: 0;
         border-left: 40px solid $whiteColor;
         border-top: 37px solid transparent;
         border-bottom: 37px solid transparent;
       }
       &:before{
         position: absolute;
         right: 0;
         content: "";
         width: 0;
         height: 0;
         border-right: 40px solid $whiteColor;
         border-top: 37px solid transparent;
         border-bottom: 37px solid transparent;
       }
     }
     .support{
       height: 75px;
       max-width: 320px;
       &:before{
         position: absolute;
         left: -40px;
         content: "";
         width: 0;
         height: 0;
         border-right: 40px solid $goldColor;
         border-top: 37px solid transparent;
         border-bottom: 37px solid transparent;
       }
     }
   }
  }
  .collection-section{
    padding:80px 0;
    .pictures{
      .picture{
        margin-bottom: 10px;
        transition:.5s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
        &:last-of-type{
          margin-bottom: 0;
        }
         .picture-size{
           width: 100%;
           height: 330px;
           object-fit: cover;
         }
        &:hover{
          .picture-overlay{
            opacity: 1 !important;
          }
          &.outline-style{
            outline: 0 !important;
          }
          img{
            transition: all .3s;
            transform: scale(1.2);
          }
          .discount-amount{
            color: #fff !important;
          }
          .discount-company{
            display: block !important;
          }
        }
      }
      .center-picture{
        transition: all .1s;
        overflow: hidden;
        .center-picture-size{
          width: 100%;
          height: 673px;
          object-fit: cover;
        }
        &:hover{
          .picture-overlay{
            opacity: 1 !important;
          }
          &.outline-style{
            outline: 0 !important;
          }
          img{
            transition: all .3s;
            transform: scale(1.2);
          }
          .discount-company{
            display: block !important;
          }
          .discount-amount{
            color: #fff !important;
          }
        }
      }
    }
  }
  .recent-section{
    .recent-collections{
      .feature{
        margin-bottom: 15px;
        font-size: 1.4rem;
        font-weight: bolder;
        transition: all .5s;
        &:hover {
            .overlay {
              opacity: .5;
            }
            .trapes {
                border-bottom: 46px solid $blackColor;
                z-index: 999;
              text-decoration: none;
             }
            }
        .discount{
          width: 60px;
          height: 60px;
          line-height: 60px;
          z-index: 999;
          &.discount-position{
            left: 15px;
            top: 15px;
          }
        }
          }
        }
      }
  .brand-section{
    margin: 70px 0;
    .brand-slider{
      .item{
        .brand-img{
          max-width: 100%;
          height: 60px;
          object-fit: cover;
          margin: auto;
        }
      }
    }
  }
  .testimonials-section{
    background-color: #d9bf8f !important;
     min-height: 400px;
    width: 100%;
    .testimonials{
      flex-wrap: wrap;
      .testimonial-img{
        height: 300px;
        width: 240px;
        img{
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .testimonial-description{
        max-width: 27%;
        .testimonial-comment{
          font-size: 1.8rem;
        }
        .testimonial-name{
          font-size: 3rem;
        }
        .testimonial-position{
          font-size: 1.4rem;
          color: $grayDarkColor;
        }

      }
    }
  }
}

//responsive design
@media screen and (max-width: 992px){
  .triangle{
    display: none !important;
  }
  .testimonials-section{
  }
  .testimonials{
    flex-direction: column;
  }
  .testimonial-description{
    max-width: 100% !important;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonial-comment{
    text-align: center;
  }
  .testimonial-name{
    margin: auto;
  }
  .testimonial-position{
    margin: auto;
  }
  .order-img{
    order: 0;
  }
}
@media screen and (max-width: 768px){
  .center-picture{
   margin: 10px 0;
  }
  .slick-dots{
    display: none !important;
  }
  .brand-section{
    margin-bottom:50px !important;
  }

}