.main-section{
  .slider{
    .item {
      //background-color: #4DC7A0;
      //color: white;
      //font-size: 30px;
      //height: 150px;
      //padding: 10px;
      height: 600px !important;
      width: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
}