$aznb:jaznb;
$topMenuColor: #393939;
$topMenuBackgroundColor: #f2f2f2;
$goldColor:#d9bf8f;
$blackColor:#000000;
$transparentColor:transparent;
$whiteColor:#fff;
$orangeColor: #f09d66;
$orangeColor:#f0975c;
$yellowColor:#feab12;
$light-black:#141414;
$light-grey:#737373;
$grayColor:#363636;
$grayDarkColor:#7f7e7e;
